In [16]:
mylist_one = list();

append_data = function(data,mylist_one){
    
    mylist_one = append(mylist_one,data);
    
    return (mylist_one);
}


mylist_one = append_data("TestDataOne",mylist_one);
mylist_one = append_data("TestDataTwo",mylist_one);
mylist_one = append_data("TestDataThree",mylist_one);


mylist_one;

delete_data = function(key,mylist_one){
    
    mylist_one = mylist_one[key];
    
    return (mylist_one);
}

mylist_one = delete_data(-2,mylist_one);


mylist_one;

update_data = function(key,data,mylist_one){
    
    mylist_one[key] = data
    
    return (mylist_one);
}

mylist_one = update_data(1,"TestDataTwo",mylist_one);


mylist_one;

[[1]]
[1] "TestDataOne"

[[2]]
[1] "TestDataTwo"

[[3]]
[1] "TestDataThree"

[[1]]
[1] "TestDataOne"

[[2]]
[1] "TestDataThree"

[[1]]
[1] "TestDataTwo"

[[2]]
[1] "TestDataThree"

In [24]:
mylist_one = list();

append_data = function(data,mylist_one){
   
    mylist_one = append(mylist_one,data);
    
    return (mylist_one);
}


mylist_one = append_data("testdataone",mylist_one);
mylist_one = append_data("testdatatwo",mylist_one);
mylist_one = append_data("testdatathree",mylist_one);

mylist_one;

delete_data = function(key,mylist_one){
    mylist_one = mylist_one[key];
    
    return (mylist_one);
    
}

mylist_one = delete_data(-2,mylist_one);


mylist_one;

update_data = function(key,data,mylist_one){
    
    mylist_one[key] = data
    
    return (mylist_one);
}

mylist_one = update_data(1,"TestDataTwo",mylist_one);


mylist_one;

[[1]]
[1] "testdataone"

[[2]]
[1] "testdatatwo"

[[3]]
[1] "testdatathree"

[[1]]
[1] "testdataone"

[[2]]
[1] "testdatathree"

[[1]]
[1] "TestDataTwo"

[[2]]
[1] "testdatathree"