In [5]:
# global scope
list_a = list();
list_b = list("one,two,three,four,five");


mylist = c(list_a,list_b);
mylist = append(mylist,"three",after = 2);

mylist;

[[1]]
[1] "one,two,three,four,five"

[[2]]
[1] "three"